:root {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', sans-serif;
  color-scheme: light;
  color: #111827;
  background-color: #f3f4f6;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

.layout {
  display: flex;
  min-height: 100vh;
}

/* Sidebar */

.sidebar {
    width: 240px;
    background-color: #020617;

    background-image:
        radial-gradient(1px 1px at 10px 10px, #ffffff 0, transparent 50%),
        radial-gradient(1px 1px at 30px 40px, #ffffff 0, transparent 50%),
        radial-gradient(1px 1px at 50px 20px, #ffffff 0, transparent 50%),
        radial-gradient(1px 1px at 70px 50px, #ffffff 0, transparent 50%);

    background-size: 80px 80px;

    color: #e5e7eb;
    padding: 1.25rem 1rem;
    display: flex;
    flex-direction: column;
}


.logo {
  display: flex;
  align-items: center;
  gap: 0.75rem;
  margin-bottom: 2rem;
}

.logo-mark {
  width: 36px;
  height: 36px;
  border-radius: 0.75rem;
  background: #ffffff;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-weight: 700;
  color: #022c22;
  overflow: hidden;         /* Görsel taşmasın */
}

/* Logo görseli için */
.logo-mark img {
  max-width: 80%;
  max-height: 80%;
  display: block;
  object-fit: contain;      /* SVG/PNG orantılı sığsın */
}


.logo-text .title {
  font-weight: 600;
  font-size: 1rem;
}

.logo-text .subtitle {
  font-size: 0.75rem;
  color: #9ca3af;
}

.nav {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}

.nav-item {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding: 0.6rem 0.75rem;
  border-radius: 0.5rem;
  font-size: 0.9rem;
  color: #e5e7eb;
  cursor: pointer;
  transition: background 0.15s ease, color 0.15s ease;
}

.nav-item:hover {
  background: #1f2937;
}

.nav-item.active {
  background: #ffe2ab;
  color: #000000;
  font-weight: 600;
}

/* Main */

.main {
  flex: 1;
  display: flex;
  flex-direction: column;
  background: #f3f4f6;
}

.topbar {
  height: 56px;
  display: flex;
  align-items: center;
  padding: 0 1.5rem;
  border-bottom: 1px solid #e5e7eb;
  background: #ffffffaa;
  backdrop-filter: blur(8px);
  position: sticky;
  top: 0;
  z-index: 10;
}

.topbar-title {
  font-size: 0.95rem;
  font-weight: 500;
  color: #374151;
}

.content {
  padding: 1.5rem;
}
